
/* GENERAL */ 

.flexCentre {

    display: flex;
    justify-content: center;
    align-items: center;
}

.flexAround {

    display: flex;
    justify-content: space-around;
    align-items: center;
}

.flexBetween{
    display: flex;
    justify-content: space-between ;
    align-items: center;
}

.sizeLiens {

    width: 45%;
    
}