
/* GENERAL */ 
html,body{
    font-family: Raleway;
}
.flexCentre {
    display: flex;
    justify-content: center;
    align-items: center; 
}
.flexAround {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.flexBetween{
    display: flex;
    justify-content: space-between ;
    align-items: center;
}
.flexColumnCentre {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.flexWrap{
  display: flex;
  flex-wrap: wrap;
}
.centerIcon{
    text-align: center;
    line-height: 52px;
}
.flexColumnAround {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.flexColumnBetween{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.texteGras {
    font-weight: bold;
}
/* NAVIGATION */ 
.sizeNav {
    height: 100px;;
}
.sizeLien {
    width: 140px;
    height: 100px;
}
.sizeLiens {
    width: 100%;   
}
.decorationNone{
text-decoration: none ;
}
.bordureNone{
    border : none;
}
.colorLiensblack {
    color: black;
}
.colorLiensblue {
    color: #0065fc;
}
.bordureNav:hover {
    border-top: 1px solid #0065fc;
    cursor: pointer;
}
.bordureNav:hover > a {
  color : #0065fc;
}
.bordureNavLien2-3{
    border-top: 1px solid transparent;
}
.marginLogo {
    margin-top: 7px;
    width : 120px;
    height:  50px;
}

/* BARRE DE RECHERCHE */ 
.desktopNone{
  display: none;
}
.bordureSearch {
    width: 400px;
    border-radius: 10px;
    border : #f2f2f2 0.5px solid;
}
.paddingSearch{
    padding-left: 20px;
}
.iconSize {
    height: 50px;
    width: 50px;
    border-radius: 10px 0 0 10px;
}
.recherche {
    height: 50px;
    width: 230px;
    font-size: 18px;
    color: black;
    font-weight: bold;
}
.fontRecherche{
  font-family: Raleway ;
}
.backGris{
    background-color: #f2f2f2;
}
.backBleu{
    background-color: #0065fc;
}
.colorBleu{
    color: #0065fc;
}
.colorGris{
  color : #f2f2f2;
}
.buttonSearch{
    height: 50px;
    width: 120px;
    color: white;
    cursor: pointer;
    border-radius: 0 10px 10px 0;
}
.buttonSearch:hover{
  color: #0065fc;
  background-color: #f2f2f2;
}
/* FILTRES */ 
.filtre {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.marginFiltre{
    margin-top: 50px;
    margin-bottom: 20px;
}
.marginFiltreTitre{
    margin-right: 20px;
}
.filtreTexteIcon{
    border: 2px solid #f2f2f2;
    height: 50px;
    border-radius: 30px;
    margin-right: 20px;
    padding-right: 20px;   
}
.filtreTexteIcon:hover >.filtreTexte{
    color: #0065fc ;
}
.filtreTexteIcon:hover >.filtreIcon{
    color: white ;
    background-color: #0065fc;
}
.filtreTexte{
    height: 50px;
    padding-left: 20px;
    padding-right: 0px;
    border-radius: 0 25px 25px 0;
}
.filtreIcon{
    border-radius: 25px;
    margin-left: -2px;;
    width: 52px;
    height: 52px;
    color: #0065fc;
    background-color: #deebff;
}

/* INFO ICONE */
.info {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  .parentIcon {
    width: 20px;
    height: 20px;
    border: 2px solid #f2f2f2;
    border-radius: 25px;
    margin-right: 5px;
  }
  /* HEBERGEMENTS */
  .sizeHebergements {
    flex: 2;
    height: 650px;
    margin-right: 20px;
    border-radius: 10px;
  }
  .sizePopulaires {
    flex: 1;
    height: 650px;
    margin-left: 20px;
    border-radius: 10px;
  }
  .blocHebergements {
    padding-left: 20px;
    padding-right: 20px;
  }

  .bloc2 {
    margin-top: 10px;
  }
  .cubeHebergements {
    width: 30%;
    height: auto;
    background-color: white;
    padding: 1%;
    border-radius: 20px;
    box-shadow: 5px 5px 5px 1px #f2f2f2;
  }
  .cubeHebergements:hover {
    cursor: pointer;
    transform: scale(1.1);
  }
  .cubeDetailsHebergements {
    width: 90%;
  }
  .h3 {
    font-size: 1.15em;
  }
  .imgHebergements1 {
    background-image: url("images/hebergements/4_small/marcus-loke-WQJvWU_HZFo-unsplash.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 120px;
    border-radius: 15px 15px 0 0;
  }
  .imgHebergements2 {
    background-image: url("images/hebergements/4_small/fred-kleber-gTbaxaVLvsg-unsplash.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 120px;
    border-radius: 15px 15px 0 0;
  }
  .imgHebergements3 {
    background-image: url("images/hebergements/4_small/reisetopia-B8WIgxA_PFU-unsplash.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 120px;
    border-radius: 15px 15px 0 0;
  }
  .imgHebergements4 {
    background-image: url("images/hebergements/4_small/annie-spratt-Eg1qcIitAuA-unsplash.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 120px;
    border-radius: 15px 15px 0 0;
  }
  .imgHebergements5 {
    background-image: url("images/hebergements/4_small/nicate-lee-kT-ZyaiwBe0-unsplash.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 120px;
    border-radius: 15px 15px 0 0;
  }
  .imgHebergements6 {
    background-image: url("images/hebergements/4_small/febrian-zakaria-M6S1WvfW68A-unsplash.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 120px;
    border-radius: 15px 15px 0 0;
  }
  .stars{
    margin-top : 30px;
  }
  /* Populaires */
  .blocPopulaires {
    padding-left: 20px;
    padding-right: 20px;
  }
  .blocPopulaires12 {
    margin-bottom: 22px;
  }
  .cubePopulaires {
    background-color: white;
    height: auto;
    padding: 1% 0 1% 1%;
    border-radius: 20px;
  }
  .cubePopulaires:hover {
    cursor: pointer ;
    transform: scale(1.05);
  }
  .cubeDetailsPopulaires {
    width: 60%;
    padding-left: 5%;
    height: 160px;
  }
  .imgPopulaires1 {
    background-image: url("images/hebergements/4_small/emile-guillemot-Bj_rcSC5XfE-unsplash.jpg");
    background-size: cover;
    background-position: center;
    width: 35%;
    height: 160px;
    border-radius: 15px 0 0 15px;
  }
  .imgPopulaires2 {
    background-image: url("images/hebergements/4_small/aw-creative-VGs8z60yT2c-unsplash.jpg");
    background-size: cover;
    background-position: center;
    width: 35%;
    height: 160px;
    border-radius: 15px 0 0 15px;
  }
  .imgPopulaires3 {
    background-image: url("images/hebergements/4_small/febrian-zakaria-sjvU0THccQA-unsplash.jpg");
    background-size: cover;
    background-position: center;
    width: 35%;
    height: 160px;
    border-radius: 15px 0 0 15px; 
}
.cubeDetailsPopulaires h3{
  width: 195px;
}
/* Activites */
.Activites {
  margin-top: 50px;
  margin-bottom: 50px;
}
.blocActivites {
  width: 100%;
  height: 600px;
}
.blocActivites2356 {
  width: 23%;
  height: 600px;
}
/* reglage bloc */
.cubeActivites {
  width: 23%;
  border-radius: 15px;
  box-shadow: 5px 5px 5px 1px #f2f2f2;
}
.cubeActivites:hover {
  cursor: pointer;
  transform: scale(1.03);
}
.cubeActivites2356 {
  width: 100%;
  border-radius: 15px;
  box-shadow: 5px 5px 5px 1px #f2f2f2;
}
.cubeActivites2356:hover {
  cursor: pointer;
  transform: scale(1.03);
}
/* fin reglage bloc */
.hauteurTitre {
  height: 70px;
}
.titreActivites {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 5%;
  width: 95%;
}
.imgActivites1 {
  background-image: url("images/activites/3_medium/reno-laithienne-QUgJhdY5Fyk-unsplash.jpg");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 530px;
  border-radius: 15px 15px 0 0;
}
.imgActivites2 {
  background-image: url("images/activites/3_medium/paul-hermann-QFTrLdQIRhI-unsplash.jpg");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 200px;
  border-radius: 15px 15px 0 0;
}
.imgActivites3 {
  background-image: url("images/activites/4_small/kevin-hikari-rV_Qd1l-VXg-unsplash.jpg");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 200px;
  border-radius: 15px 15px 0 0;
}
.imgActivites4 {
  background-image: url("images/activites/3_medium/kilyan-sockalingum-NR8-cBCN3aI-unsplash.jpg");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 530px;
  border-radius: 15px 15px 0 0;
}
.imgActivites5 {
  background-image: url("images/activites/4_small/florian-wehde-xW9e8gdotxI-unsplash.jpg");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 200px;
  border-radius: 15px 15px 0 0;
}
.imgActivites6 {
  background-image: url("images/activites/4_small/lena-paulin-wH2-EJoDcV0-unsplash.jpg");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 200px;
  border-radius: 15px 15px 0 0;
}
/* footer */
.footer {
  height: 300px;
  margin-top: 100px;
}
.tailleBlocFoot {
  height: 150px;
}
.margeBlocFoot1 {
  margin-left: 5%;
}
.margeBlocFoot3 {
  margin-right: 15%;
}
.lienFoot {
  color: black;
}
.divLienFoot {
  height: 30px;
}
/* responsive */

@media screen and (max-width: 1295px) {

  .cubeDetailsHebergements {
    min-height: 150px;
  }
  .sizeHebergements {
    min-height: auto;
    padding: 20px;
  }
  .sizePopulaires {
    min-height: auto;
    padding: 20px;
  }
  .tabletteSizeTitrePop {
    margin-top: 0;
  }
}
@media screen and (max-width: 990px) {

  #hebergements {
    flex-direction: column-reverse;
    width: 100%;
  }
  .blocPopulaires {
    flex: none;
    width: 90%;
    margin-left: 0;
    padding: 5%;
  }
  .blocHebergements {
    flex: none;
    width: 90%;
    margin-right: 0;
    margin-top: 50px;
    padding: 5%;
  }
}

@media screen and (max-width: 770px) {
  .sizeLiens{
    width: 100%;
  }
  .sizeLien{
    width: 83px;
  }
  .marginLogo{
    position: absolute;
    top: 12px;
    right: 41%;
    }
  .flexWrap{
    order: 1 ;
    width : 100%;
    margin-left : 0%;
    margin-top: 115px;
    flex-wrap: nowrap;

  }
  .positionLien1-2 {
    padding-left: 1%;
    padding-right: 13%;
    display: flex;
    justify-content: space-around;
  }
  .blocHebergements{
    height: auto;
  }
  .bloc1 {
    flex-direction: column;
    margin-bottom: 0;
  }
  .bloc2 {
    flex-direction: column;
    margin-top: 0;
  }
  .cubeHebergements {
    width: 100%;
    margin-bottom: 50px;
  }
  .cubeDetailsHebergements {
    min-height: auto;
  }
  .blocActivites{
    flex-direction: column;
    height: auto;
  }
  .blocActivites2356{
    width: 100%;
  }
  .cubeActivites{
    width: 100%;
    margin-bottom: 50px;
  }
  .cubeActivites2356{
    width: 100%;
    height: auto;
  }
  .cubeActivites2356{
    margin-bottom: 50px;
  }
  .imgActivites1,
  .imgActivites2,
  .imgActivites3,
  .imgActivites4,
  .imgActivites5,
  .imgActivites6 {
    height: 200px;
  }
  .footer{
    flex-direction: column;
    align-items: flex-start;
    height: auto;
    padding-left: 20px;
  }
  .margeBlocFoot1{
    margin-left: 0;
  }
  .bordureSearch{
    margin-top: 40px;;
  }
  h1{
    margin-top: 50px;
  }
  }

  @media screen and (max-width: 480px) {
  .flexWrap{
      order: 1 ;
      width : 100%;
      margin-left : 0%;
      flex-wrap: nowrap;
    }
    .marginLogo{
      padding-right: 20%; 
    }
  .sizeLienMobile{
      width: 100px;
      border-top: none;
      border-bottom: 2px solid #f2f2f2;
    }
    .sizeLiens{
      width: 100%;
      flex-wrap: wrap;
    }
  .sizeLiensMobile:hover{
      border-top: 0;
      border-bottom: 2px solid #0065fc;
    }
 .position3Lien {
    position: absolute;
    top : 0px;
    right: 10px;
  }
  .positionLien1-2 {
    padding-left: 14%;
    padding-right: 10%;
    margin-top:-4%;
    display: flex;
    justify-content: space-around;

  }
.h1Mobile{
    padding-top: 20%;
  }
.recherche{
    width: 211px;
    font-size: 17px;
  }
.bordureSearch{
    width: 90%;
    margin: auto;
    border-radius: 14px;
  }
.iconSize{
    width: 66px;
  }
.buttonSearch{
    border-radius: 15px;
    width: 60px;
  }
.desktopNone{
    display: block;
  }
.mobileNone{
    display: none;
  }
html,body{
  margin:0;
  padding: 0;
}
.backWhiteMobile{
  background-color: white;
}
.sizePopulaires{
  border-radius: 0;
}
.marginFiltre{
  padding-left: 2%;
  margin-top: 14px;
}
.marginLogo{
  margin-top: 13px;
  width: 152px;
  height: 50px;
}
.mobileFiltreWrap {
  flex-direction: column;
  align-items: flex-start;
}
.filtreTexte {
  padding-left: 10px;
  padding-right: 10px;
}
.filtreTexteIcon {
  margin-bottom: 20px;
  margin-right: 10px;
}
.parentIcon {
  margin-left: 18px;
}
.pIcone{
  margin-left: 7px;
}
.mobileTitre-h1{
  padding-left: 5%;
}

.blocActivites{
  padding: 5%;
  width: 90%;
}
.blocActivites2356{
  width: 100%;
}

}

 